<hr>
<div class="row">
	<div class="col-md-2">
		<%= image_tag(@choosenMagnet.image_url , size: "130")%>
	</div>
	<%= form_for :purchase do |f| %>
	<div class="col-md-2">
		<h3>Maße</h3>
			<% @choosenMagnet.magnet_dimensions.where("magnet_id = "+@choosenMagnet.id.to_s).each do |mag| %>
			
			<div class="form-group">
				<div class="input-group">
					<%= f.text_field "attributes[#{Dimension.find(mag.dimension_id).dime}]" , :placeholder => Dimension.find(mag.dimension_id).dime ,class: "form-control" %>
					<span class="input-group-addon">mm</span>
				</div>
			</div>
			<% end %>
	</div>

	<div class="col-md-2">
		<h3>Pole</h3>
			<div class="form-group">
				<% @choosenMagnet.magnet_poles.where("magnet_id = "+@choosenMagnet.id.to_s).each do |pole| %>
					<div class="radio">
						<%= radio_button("purchase", "Pole", Pole.find(pole.pole_id).pol) %><%= Pole.find(pole.pole_id).pol%>
					</div>
				<% end %>
			</div>
			<%= check_box("purchase", "Kennzeichnen") %> Kennzeichnen?
	</div>

	<div class="col-md-2">
		<h3>Güte</h3>
			<div class="form-group">
				<%= f.select(:quality, ["1.02T < 180°C", "1.02T < 200°C", "1.08T < 180°C", "1.13T < 180°C"], {}, { :class => 'form-control form-striped' }) %>
				<option value=""></option>
			</div>         
	</div>
	<div class="col-md-2">
		<h3>Beschichtung</h3>
			<div class="form-group">
				<%= f.select(:coating, ["Keine", "Nickel", "Zink", "Silber", "Gold"], {}, { :class => 'form-control form-striped' }) %>
			</div>         
	</div>
	<div class="col-md-2">
		<h3>Warenkorb</h3>
		<div class = "input-group">
			<%= f.text_field :quantity, class: "form-control"%>
			<span class ="input-group-addon"> Stck </span>
		</div>
		<div class= "form-group">
			<%= button_tag(type: 'submit', class: "btn btn-block ") do %>
			<span class="glyphicon glyphicon-shopping-cart"></span> hinzufügen
			<% end %>
		</div>
		<% end %>

	</div>
